<div class="rd-container">
  <div class="rd-form rd-form-container">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <div class="rd-heading rd-heading-lg-bold">Fraud Alerts</div>
      <div>
        <button type="button" class="rd-btn rd-btn-text" (click)="closeModal()">
          <span class="btn-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 256 256"
            >
              <path
                d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"
              ></path>
            </svg>
          </span>
        </button>
      </div>
    </div>
    <div class="rd-form-body content-style">
      <div class="rd-text-justify mb-4">
        <p class="rd-text-grey-mid">
          As with any large organisation, Redefine Properties attracts the
          attention of individuals intent on misusing its name or the names of
          its employees in the pursuit of fraudulent activities from time to
          time.
        </p>

        <p class="rd-text-grey-mid">
          Redefine Properties endeavours to highlight any major frauds that it
          is aware of on this website as soon as reasonably possible, but
          unfortunately the increasing volume and type of frauds and scams means
          that it is impossible to prevent the misuse of Redefine Properties’
          name and the names of its employees. The most common frauds and scams
          known to us include, but are not limited to, the below:
        </p>
      </div>

      <ul>
        <li>Email Scams</li>
        <p class="mt-3 rd-text-grey-mid">
          If you receive a communication which purports to be in our name or in
          the name of our employees and are unsure as to its veracity, please
          contact us on
          <a class="fraud-link" href="mailto:enquiries@redefine.co.za"
            >Enquiries&#64;redefine.co.za
          </a>
          before engaging with the sender any further.
        </p>
        <li>Banking or Payment Scams</li>
        <p class="mt-3 rd-text-grey-mid">
          If you receive an email or letter or links that appear to be sent from
          someone you trust at Redefine Properties to convince you to pay money
          into a fraudulent bank account controlled by them, please take care
          and before remitting any funds, please contact the person responsible
          for your account to verify that the bank account you have on record is
          a legitimate bank account of Redefine Properties.
        </p>
        <li>Sale of Shares</li>
        <p class="mt-3 rd-text-grey-mid">
          Redefine Properties will never offer shares for purchase direct to the
          public, or through the use of social media or instant messaging
          platforms. If you receive a communication informing you to do so,
          please do not engage with the sender and report it to
          <a class="fraud-link" href="mailto:enquiries@redefine.co.za"
            >Enquiries&#64;redefine.co.za
          </a>
        </p>
        <li>Cryptocurrency or forex trading Scams</li>
        <p class="mt-3 rd-text-grey-mid">
          Redefine Properties does not provide services related to
          cryptocurrency or any other virtual currency and will never contact
          any person or entity (e.g., through messages on WhatsApp, Signal,
          Telegram, Facebook, email, text, etc.) about solicitations involving
          cryptocurrency.
        </p>
      </ul>

      <p class="rd-text-grey-mid">
        Redefine Properties will not be liable for actions that result in you
        being a victim of such fraud or scam.
      </p>
      <p class="rd-text-grey-mid">
        Redefine Properties will report any fraudulent activities involving its
        name or the names of its employees to the relevant regulatory and law
        enforcement agencies.
      </p>
    </div>

    <!-- <div class="rd-form-footer">
    <div></div>
    <div class="rd-btn-group">
        <button
          (click)="closeModal()"
          type="button"
          class="rd-btn-secondary rd-btn-lg"
        >
          Cancel
        </button>
        <button type="submit" class="rd-btn-primary rd-btn-lg">Save</button>
      </div>
  </div> -->
  </div>
</div>
