
<div>
    <div [id]="id" class="dashboard_Chart" #chartDiv></div>
</div>

<ng-template #loadingTemplate>
    <div class="placeholder-glow chart-container">
      <div class="placeholder chart-placeholder"></div>
      <div>
        <div>
          <p>
            <span
              class="placeholder"
              style="
                width: 200px;
                height: 60px;
                border-radius: 3px;
                margin-right: 10px;
              "
            ></span>
          </p>
        </div>
        <div></div>
      </div>
    </div>
  </ng-template>
  
