
.form-container {
  width: 95%;
}

.display{
  display: flex;
    gap: 10px;
}

.rd-switch-wrapper {
  margin-bottom: 20px !important;
}

.switch-wrapper{
  display: flex;
    align-items: center;
    margin-bottom: 20px;
}