.investor-image {
  width: 100%;
  min-height: 400px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 2px;
  object-fit: cover;
  object-position: top;
}
.investor-social-btn {
  width: fit-content;
  &:hover {
    .btn-icon {
      transform: translateX(5px);
    }
  }
  .btn-icon {
    transform: translateX(0px);
    transition: transform 0.3s ease-in-out;
  }
}
