<div>
  <app-header></app-header>
  <app-ticker></app-ticker>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <button
    *ngIf="showScrollButton"
    type="button"
    class="scroll-to-top show btn btn-floating btn-lg text-white"
    (click)="scrollToTop()"
    title="Scroll to top"
    aria-label="Scroll to top"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="currentColor"
      viewBox="0 0 256 256"
    >
      <path
        d="M208.49,120.49a12,12,0,0,1-17,0L140,69V216a12,12,0,0,1-24,0V69L64.49,120.49a12,12,0,0,1-17-17l72-72a12,12,0,0,1,17,0l72,72A12,12,0,0,1,208.49,120.49Z"
      ></path>
    </svg>
  </button>
</div>
