

.breadcrum {
    margin-bottom: -15px;
    width: 100%;
    margin-top: 15px;
    height: 30px;
}

.breadcrum a{
    color: black;
    font-weight: 600;
}

.banner{
    width: 100%;
}

.banner img{
    width:100%;
    height:100%
}

p{
    line-height: 30px !important;
}

.btn{
    min-width: 160px;
    width: auto;
    border-radius: 2px;
    height: 40px;
}