<!-- <div class="carousel"> -->
<!-- Left arrow -->
<!-- <div class="arrow left" (click)="prevSlide()"></div> -->

<!-- Right arrow -->
<!-- <div class="arrow right" (click)="nextSlide()"></div> -->

<!-- Image number -->
<!-- <div class="counter">{{ currentSlide + 1 }}/{{ images.length }}</div> -->

<!-- Slides container -->
<!-- <div
    class="slides-container"
    [style.transform]="'translateX(' + -currentSlide * slideWidth + '%)'"
  >
    <div
      class="slide"
      *ngFor="let image of images; let i = index"
      [style.width.%]="slideWidth"
    >
      <img [src]="image" alt="Slide {{ i + 1 }}" />
    </div>
  </div>
</div> -->

<!-- Thumbnails -->
<!-- <div class="thumbnails">
  <div
    class="thumbnail"
    *ngFor="let image of images; let i = index"
    [class.active]="i === currentSlide"
    (click)="goToSlide(i)"
  >
    <img [src]="image" alt="Thumbnail {{ i + 1 }}" />
  </div>
</div> -->
