.form-container {
  position: relative;
}

.drip-switch{
  position: absolute;
  right: 10px;
  top: 10px;
}

.right {
  float: right;
}

.save-dropdown-menu {
  width: 160px;
}

.move-right {
  margin-left: auto;
}

.mat-menu-content {
  text-align: left;
}

.save-dropdown-menu button {
  justify-content: unset;
}