<!-- <embed
  [src]="fileUrl"
  type="application/pdf"
  frameBorder="0"
  embedded="true"
  scrolling="auto"
  height="100%"
  width="100%"
/> -->
<!-- <iframe
  [src]="fileUrl"
  type="application/pdf"
  embedded="true"
  height="100%"
  width="100%"
  title="pdf"
>
  <div>
    If unable to view pdf, please <a [href]="fileUrl" download>download</a>.
  </div>
</iframe> -->
<div class="container-fluid p-0">
  <ngx-extended-pdf-viewer
    theme="dark"
    backgroundColor="#525659"
    workerSrc="assets/pdf.worker.min.js"
    [zoom]="'auto'"
    [src]="fileUrl"
    [filenameForDownload]="fileName"
    [height]="'auto'"
    [showBorders]="false"
    [showToolbar]="true"
    [showPagingButtons]="true"
    [showZoomButtons]="true"
    [showDownloadButton]="true"
    [showSecondaryToolbarButton]="true"
    [showSidebarButton]="true"
    [showFindButton]="false"
    [showDrawEditor]="false"
    [showStampEditor]="false"
    [showTextEditor]="false"
    [showPresentationModeButton]="false"
    [showDownloadButton]="true"
    [showOpenFileButton]="false"
    [showPrintButton]="false"
    [showHandToolButton]="false"
    [showScrollingButton]="false"
    [showSpreadButton]="false"
    [showPropertiesButton]="false"
    [minifiedJSLibraries]="true"
    [showInfiniteScrollButton]="true"
    [title]="fileName"
    [showRotateButton]="false"
    (pdfLoadingStarts)="pdfLoadingStarts($event)"
    (pdfLoaded)="pdfLoaded($event)"
    (pdfLoadingFailed)="pdfLoadingFailed($event)"
    (pageRendered)="onPageRendered()"
  ></ngx-extended-pdf-viewer>
</div>
