.attribute-container {
  margin-bottom: 50px;
}
.attribute-container .attribute-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 0.5px solid #dfdfdf;
}
.attribute-container .attribute-item:last-child {
  border: none;
}
.attribute-container .attribute-item .attribute-label {
  width: 40%;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.attribute-container .attribute-item .attribute-desc {
  width: 60%;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #58595b;
  word-wrap: break-word;
}

.attribute-desc .file-name a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: #000000;
}
.attribute-desc .file-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #999999;
}

.move-right {
  margin-left: auto;
}

.update-cancel-learnship {
  width: 380px !important;
}
