<div class="page-not-found-container">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-md-5 d-flex flex-column row-gap-5 justify-content-center py-5"
      >
        <div>
          <h2 class="rd-heading rd-heading-md-bold rd-text-mid-red">
            We can’t seem to find the page you’re looking for.
          </h2>
          <p class="rd-text-grey-mid">
            You can continue to the home page by clicking on the button below,
            or browse other parts of this website by following the main
            navigation.
          </p>
        </div>
        <button [routerLink]="['/']" class="rd-btn rd-btn-dark rd-btn-lg">
          <span class="btn-text">Go to Home</span>
        </button>
      </div>
    </div>
  </div>
</div>
