<div class="maintenance-page-container d-flex flex-column vh-100 col-10 mx-auto p-5">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center text-center text-md-left">
        <img [src]="'assets/images/logo.svg'" class="img-fluid maintenance-logo mb-3 mb-md-0" alt="Maintenance Image" />
        <div>
            <div class="d-flex align-items-center mb-2 justify-content-center justify-content-md-start">
                <img src="assets/images/mobile.svg" class="icon mr-2" />
                <span>Call Centre: 0860 DEFINE (</span>
                <span class="rd-text-mid-red">333463</span>
                <span>)</span>
            </div>
            <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                <img src="assets/images/mail.svg" class="icon mr-2" />
                <span class="rd-text-mid-red">enquiries&#64;redefine.co.za</span>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-between mt-5">
        <div class="col-12 col-md-6 text-left">
            <h1 class="rd-text-grey-mid">UNDER</h1>
            <h1 class="rd-text-mid-red py-2">MAINTENANCE</h1>
            <div class="rd-text-grey-mid">
                Our website is currently undergoing scheduled maintenance to improve performance and enhance your experience.
            </div>
            <p class="rd-text-grey-mid">
                We apologize for any inconvenience. Our team is working hard to bring the website back online as soon as possible.
            </p>
            <p class="rd-text-grey-mid">
                Please check back with us shortly.
            </p>
        </div>
        <div class="col-12 col-md-6 text-center">
            <img [src]="'assets/images/maintenance-page.png'" class="img-fluid maintenance-image" alt="Maintenance Image"/>
        </div>
    </div>
</div>