<div class="rd-container">
  <div class="rd-container-header" *ngIf="formConfig">
    <div class="rd-container-header-left">
      <div>
        <button
          type="button"
          id="back"
          class="rd-btn-text rd-btn-back rd-btn-lg"
          (click)="goToManage()"
        >
          <span><img src="assets/images/arrow-left.svg" alt="" /></span>
          <span>BACK</span>
        </button>
      </div>
      <div class="rd-heading rd-heading-lg">
        {{ formConfig ? (formConfig.mode | titlecase) : "" }} - Enquiry
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <form class="rd-form form-container">
        <div class="col-12 z-index-1">
          <button
            class="rd-accordion-btn rd-heading rd-heading-md-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne"
          >
            Enquiry Details
          </button>
        </div>
        <div
          id="panelsStayOpen-collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="panelsStayOpen-headingOne"
        >
          <div class="rd-form-body">
            <div class="attribute-container">
              <div class="attribute-item">
                <div class="attribute-label">Enquiry Type</div>
                <div class="attribute-desc">
                  {{ enquiryDetails?.EnquiryType }}
                </div>
              </div>
              <!-- <div class="attribute-item">
                <div class="attribute-label">Province</div>
                <div class="attribute-desc">
                  {{ enquiryDetails?.ProvinceName }}
                </div>
              </div> -->
            </div>
          </div>
        </div>

        <div class="col-12 z-index-1">
          <button
            class="rd-accordion-lead-details-btn rd-heading rd-heading-md-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseTwo"
          >
            Enquirer Details
          </button>
        </div>
        <div
          id="panelsStayOpen-collapseTwo"
          class="accordion-collapse collapse show"
          aria-labelledby="panelsStayOpen-headingOne"
        >
          <div class="rd-form-body">
            <div class="attribute-container">
              <div class="attribute-item">
                <div class="attribute-label">Name of Enquirer</div>
                <div class="attribute-desc">
                  {{ enquiryDetails?.FirstName }} {{ enquiryDetails?.LastName }}
                </div>
              </div>
              <div class="attribute-item">
                <div class="attribute-label">Email Address</div>
                <div class="attribute-desc">
                  <a class="link rd-text-ellipsis-line">{{
                    enquiryDetails?.Email
                  }}</a>
                </div>
              </div>
              <div class="attribute-item">
                <div class="attribute-label">Mobile Number</div>
                <div class="attribute-desc">
                  <a class="link rd-text-ellipsis-line">{{
                    enquiryDetails?.Mobile
                  }}</a>
                </div>
              </div>

              <div class="attribute-item">
                <div class="attribute-label">Message</div>
                <div
                  class="attribute-desc"
                  [innerHTML]="
                    enquiryDetails?.Message == '' ||
                    enquiryDetails?.Message == null ||
                    enquiryDetails?.Message == undefined
                      ? ''
                      : (enquiryDetails?.Message | safeHtml : 'html')
                  "
                >
                  <!-- {{ enquiryDetails?.Message }} -->
                </div>
              </div>

              <div class="attribute-item">
                <div class="attribute-label">Date Sent</div>
                <div class="attribute-desc">
                  {{ enquiryDetails?.CreatedOn | date : "dd/MM/YYYY" }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 z-index-1">
          <button
            class="rd-accordion-response-details-btn rd-heading rd-heading-md-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseFour"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseFour"
          >
            Response
          </button>
        </div>
        <div
          id="panelsStayOpen-collapseFour"
          class="accordion-collapse collapse show"
          aria-labelledby="panelsStayOpen-headingOne"
        >
          <div *ngFor="let message of enquiryDetails?.messages">
            <div class="attribute-container">
              <div class="key-value-wrapper">
                <div class="color">{{ message.AddedBy }}:</div>
                <div class="response-wrapper">
                  {{ message.CreatedOn | date : "dd/MM/yyyy H:mm" }}
                </div>
              </div>
            </div>
            <div
              class="attribute-desc"
              [innerHTML]="message?.Message | safeHtml : 'html'"
            ></div>
          </div>
        </div>

        <div
          class="rd-form-footer"
          *ngIf="enquiryDetails?.messages?.length == 0"
        >
          <div
            class="rd-container-header move-right"
            *ngIf="formConfig?.mode == 'view / respond'"
          >
            <button
              #response
              type="button"
              class="rd-btn-primary rd-btn-lg"
              (click)="respondToEnquiry()"
            >
              Respond To Enquirer
            </button>
          </div>
        </div>

        <div
          class="rd-form-footer"
          *ngIf="enquiryDetails?.messages?.length > 0"
        >
          <div class="rd-container-header move-right">
            <button
              disabled
              type="button"
              class="rd-btn-primary rd-btn-lg response-btn"
            >
              Response Sent
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-4">
      <form
        class="rd-form form-container"
        [formGroup]="enquiryStatusForm"
        (ngSubmit)="onSubmit($event)"
      >
        <div class="rd-form-header">Enquiry Status</div>
        <div class="rd-form-body">
          <rd-select
            [id]="'status'"
            [label]="'Set Status'"
            [placeholder]="'Please select status'"
            [bindLabel]="'Name'"
            [bindValue]="'Id'"
            [items$]="enquiryStatus$"
            [form]="enquiryStatusForm"
            [controlName]="'Status'"
            [required]="false"
          ></rd-select>
          <rd-textarea
            [label]="'Status Note'"
            [id]="'status-note'"
            [placeholder]="'Type Note:'"
            [controlName]="'Note'"
            [form]="enquiryStatusForm"
          ></rd-textarea>
          <div class="rd-form-footer">
            <div class="rd-container d-flex flex-column rd-gap-20">
              <button
                type="submit"
                class="rd-btn-primary rd-btn-lg w-100"
                *ngIf="formConfig?.mode == 'view / respond'"
              >
                Update
              </button>
              <button
                type="button"
                class="rd-btn-secondary rd-btn-lg w-100"
                (click)="goToManage()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row"></div>
</div>
