<ng-container>
  <div *ngIf="!isLoading">
    <div class="">
      <h5 class="rd-heading rd-dashboard-heading rd-heading-md fw-bold m-0">
        Top 10 Campaign Content
      </h5>
    </div>
    <table
      class="table mt-4 proeprtyeq-table"
      *ngIf="CampaignContent && CampaignContent.length; else noData"
    >
      <thead>
        <th scope="col" class="rd-text-grey-darker rd-page-views-heading px-1">
          Campaign Type
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let srcContent of CampaignContent">
          <td
            *ngIf="srcContent.AdContent != null"
            class="rd-text-grey-darker table-data"
          >
            {{ srcContent.AdContent }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noData>
    <div class="col-12 py-2 text-center mt-5">
      <img src="assets/images/unit-not-found.svg" alt="file" />
      <p class="rd-heading-md-bold rd-text-deep-red">No data found</p>
    </div>
  </ng-template>
  <div *ngIf="isLoading">
    <div>
      <p class="card-text placeholder-glow py-1">
        <span class="placeholder col-12"></span>
        <span class="placeholder col-4"></span>
      </p>
      <p class="card-text placeholder-glow py-1 hr-top-line hr-2">
        <span class="placeholder col-12"></span>
        <span class="placeholder col-6"></span>
      </p>
      <p class="card-text placeholder-glow py-1 hr-top-line hr-2">
        <span class="placeholder col-12"></span>
        <span class="placeholder col-7"></span>
      </p>
      <p class="card-text placeholder-glow py-1 hr-top-line hr-2">
        <span class="placeholder col-12"></span>
        <span class="placeholder col-3"></span>
      </p>
    </div>
  </div>
</ng-container>
