.rd-form {
  width: 800px;
}

.message {
  margin-top: 25px;
}

.mat-divider {
  margin-top: 15px;
  width: 100%;
}

.font {
  font-size: 16.5199px;
}

.enquiry {
  color: #000000;
}

.subject-box{
  border: none;
  width: 100%;
}

input:focus{
  outline: none;
}