<div class="property-card" *ngIf="unitDetails" (click)="unitPreview()">
  <div *ngIf="unitDetails.UnitStatus" class="ribbon-container">
    <div class="ribbon">{{unitDetails.UnitStatus}}</div>
  </div>
  <div class="property-card-header">
    <img
      [src]="unitDetails.Url ? unitDetails.Url : imagePlaceholder"
      alt="Property image"
    />
    <button class="rd-btn rd-btn-dark unit-card-action">
      <span class="btn-text">View details</span>
    </button>
    <div class="overlay"></div>
  </div>
  <div class="property-card-body">
    <div class="property-details">
      <!-- PROPERTY NAME -->
      <div
        class="rd-heading rd-heading-sm-bold mb-3 rd-text-ellipsis-line"
        [title]="unitDetails.PropertyName + ' - ' + unitDetails.UnitName"
      >
        {{ unitDetails.PropertyName }} -
        <small class="rd-heading-xxs">{{ unitDetails.UnitName }}</small>
      </div>
      <!-- UNIT SIZE -->
      <div class="d-flex justify-content-between rd-gap-10 mb-3">
        <div class="d-flex align-items-center rd-gap-10">
          <img src="assets/images/Buildings.svg" alt="building icon" />
          <span class="rd-text-grey-mid">Unit size (sqm)</span>
        </div>
        <div>{{ unitDetails.UnitSize }}</div>
      </div>
      <!-- GROSS RENTAL -->
      <div class="d-flex justify-content-between rd-gap-10 mb-3">
        <div class="d-flex align-items-center rd-gap-10">
          <img src="assets/images/Key.svg" alt="key icon" />
          <span class="rd-text-grey-mid">Gross rental (R/sqm)</span>
        </div>
        <div>{{ unitDetails.GrossRental}}</div>
      </div>
      <!-- PROPERTY FLAGS -->
      <div class="property-flags" [ngClass]="unitDetails.UnitStatus ? 'property-flags-tag' : ''">
        <p
          class="property-flag"
          *ngFor="let attribute of unitDetails.Attributes"
          [title]="attribute"
        >
          {{ attribute }}
        </p>
      </div>
      <!-- PROPERTY TYPE -->
      <div
        class="property-type rd-heading-xs"
        [ngClass]="{
         'rd-bg__teal-dark' :(unitDetails.SectorName |uppercase) ==  (sector.OFFICE | uppercase) || (unitDetails.SectorName |uppercase) == (sector.COMMERCIAL | uppercase),
         'rd-bg__industrial-grey' : (unitDetails.SectorName |uppercase) == (sector.INDUSTRIAL | uppercase),
         'rd-bg__turquoise-dark' : (unitDetails.SectorName |uppercase) == (sector.RETAIL | uppercase),
         'rd-bg__purple-dark' : (unitDetails?.SectorName |uppercase) == (sector.SPECIALISED | uppercase) || (unitDetails?.SectorName |uppercase) == (sector.OTHER_SPACES | uppercase), 

        }"
      >
        {{ unitDetails.SectorName }}
      </div>
    </div>
    <button
      *ngIf="
        (unitDetails.Incentives && unitDetails.Incentives.length) ||
        unitDetails.Space2Spec == 1
      "
      type="button"
      (click)="incentiveSectionToggle($event)"
      class="rd-btn rd-btn-text w-100 justify-content-start incentive-btn"
      [ngClass]="{
        'rd-text-red':
          (unitDetails.BrokerIncentives &&
            unitDetails.BrokerIncentives != '') ||
          (unitDetails.Incentives && unitDetails.Incentives.length) ||
          unitDetails.Space2Spec == 1
      }"
      title="Incentives"
    >
      <span class="btn-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-check-circle"
        >
          <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14" />
          <polyline points="22 4 12 14.01 9 11.01" />
        </svg>
      </span>
    </button>
    <!-- INCENTIVE SLIDE SECTION -->
    <div class="incentive-section">
      <!-- BROKER INCENTIVES -->
      <div
        *ngIf="
          unitDetails.BrokerIncentives && unitDetails.BrokerIncentives != ''
        "
      >
        <p class="rd-heading-xs">Broker Incentives</p>
        <p class="rd-text-mid-red">
          <em>Commission incentive {{ unitDetails.BrokerIncentives }}%</em>
        </p>
      </div>
      <!-- PROPERTY INCENTIVES -->
      <div *ngIf="unitDetails.Incentives && unitDetails.Incentives.length">
        <p class="rd-heading rd-heading-xs">Incentives</p>
        <div class="d-flex justify-content-between flex-wrap rd-gap-10 mb-3">
          <ng-container *ngFor="let incentive of unitDetails.Incentives">
            <div class="d-flex align-items-start rd-gap-10" *ngIf="incentive">
              <img
                src="assets/images/property-attributes.svg"
                alt="incentive icon"
                class="pt-1"
              />
              <span
                class="rd-text-grey-mid"
                title="{{ incentive.AdditionalInformation }}"
                >{{ incentive?.Title }}</span
              >
            </div>
          </ng-container>
        </div>
      </div>
      <!-- SPACE 2 SPEC -->
      <div>
        <ng-container>
          <div
            class="d-flex align-items-start rd-gap-10"
            *ngIf="unitDetails.Space2Spec == 1"
            (click)="space2SpecPage($event)"
          >
            <img
              src="assets/images/property-attributes.svg"
              alt="incentive icon"
              class="pt-1"
            />
            <div class="spacespec-btn">
              <span class="rd-text-grey-mid">Space2Spec</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- <div class="overlay"></div> -->
</div>

<!-- International Property -->

<div class="property-card" *ngIf="propertyDetails" (click)="unitPreview()">

  <div>
  <div class="property-card-header">
    <img
      [src]="propertyDetails.Url ? propertyDetails.Url : imagePlaceholder"
      alt="Property image"
    />
    <button class="rd-btn rd-btn-dark unit-card-action">
      <span class="btn-text">View details</span>
    </button>
    <div class="overlay"></div>
  </div>
  <div class="property-card-body">
    <div class="property-details">
      <div
        class="rd-heading rd-heading-sm-bold mb-3 rd-text-ellipsis-line"
        [title]="propertyDetails.PropertyName"
      >
        {{ propertyDetails.PropertyName }}
      </div>
      <div class="d-flex rd-gap-10 mb-3">
        <div class="d-flex align-items-center rd-gap-10">
          <img src="assets/images/location.svg" alt="building icon" />
        </div>
        <div class="rd-text-grey-mid">{{ propertyDetails.Address }}</div>
      </div>
      <div class="d-flex rd-gap-10 mb-3" *ngIf="propertyType == 1">
        <div class="d-flex align-items-center rd-gap-10">
          <img src="assets/images/Buildings.svg" alt="building icon" />
        </div>
        <div class="rd-text-grey-mid">
          {{ propertyDetails.AvailableUnits }} / Units available
        </div>
      </div>
      <div class="d-flex rd-gap-10 mb-3" *ngIf="propertyType == 1">
        <div class="d-flex align-items-center rd-gap-10">
          <img src="assets/images/gla.svg" alt="building icon" />
        </div>
        <div title="GLA" class="rd-text-grey-mid">
          {{ propertyDetails.Gla?.replaceAll(',', ' ') }} sqm
        </div>
      </div>
      <div class="property-flags">
        <p
          class="property-flag"
          *ngFor="let attribute of propertyDetails.Attributes"
          [title]="attribute"
        >
          {{ attribute }}
        </p>
      </div>
      <div
        class="property-type rd-heading-xs"
        [ngClass]="{
          'rd-bg__teal-dark' :(propertyDetails?.SectorName | uppercase) ===  (sector.OFFICE | uppercase) || (propertyDetails?.SectorName |uppercase) == (sector.COMMERCIAL | uppercase),
          'rd-bg__industrial-grey' : (propertyDetails?.SectorName | uppercase) === (sector.INDUSTRIAL | uppercase),
          'rd-bg__turquoise-dark' : (propertyDetails?.SectorName | uppercase) === (sector.RETAIL | uppercase),
          'rd-bg__purple-dark' : (propertyDetails?.SectorName |uppercase) == (sector.SPECIALISED | uppercase) || (propertyDetails?.SectorName |uppercase) == (sector.OTHER_SPACES | uppercase), 
         }"
      >
        <!-- 'rd-bg__turquoise-dark' : (propertyDetails?.SectorName |uppercase) == (sector.SPECIALISED | uppercase), -->

        {{ propertyDetails.SectorName }}
      </div>
    </div>
  </div>
</div>
  <!-- <div class="overlay"></div> -->
</div>
