<div class="content-container">
    <div>
      <div class="unit-image">
        <img
          src="https://www.redefine.co.za/files/images/Hen-van-Eck-1.jpg"
          alt=""
        />
      </div>
      <div class="unit-info">
        <p class="unit-name">Unit - North East Wing - Forth Floor</p>
        <p class="unit-desc">Unavailable</p>
      </div>
      <div class="btm-hrl">
        <p class="desc-heading">Description</p>
        <div class="unit-info">
          <p class="unit-desc txt-gray">Unit size(sqm)</p>
          <p class="unit-desc txt-red">353</p>
        </div>
        <div class="unit-info">
          <p class="unit-desc txt-gray">Available</p>
          <p class="unit-desc">Immediatelyasdsad</p>
        </div>
      </div>
      <div class="btm-hrl">
        <div class="unit-info">
          <p class="unit-desc txt-gray">Net rental (R/sqm)</p>
          <p class="unit-desc">162.77</p>
        </div>
        <div class="unit-info">
          <p class="unit-desc txt-gray">Operation consts (R/sqm)</p>
          <p class="unit-desc">30.00</p>
        </div>
        <div class="unit-info">
          <p class="unit-desc txt-gray">Rates (R/sqm)</p>
          <p class="unit-desc">37.23</p>
        </div>
        <div class="unit-info">
          <p class="unit-desc txt-gray">Gross rental (R/sqm)</p>
          <p class="unit-desc">230.00</p>
        </div>
      </div>
      <div class="btm-hrl">
        <div class="unit-info">
          <p class="unit-desc txt-gray">Basement bays (R/bays)</p>
          <p class="unit-desc">1100.00</p>
        </div>
      </div>
      <div class="btm-hrl">
        <div class="unit-info">
          <p class="unit-desc txt-gray">Generator levy (R/sqm)</p>
          <p class="unit-desc">Facility available included in rental</p>
        </div>
        <div class="unit-info">
          <p class="unit-desc txt-gray">Standby water (Rsqm)</p>
          <p class="unit-desc">Facility available included in rental</p>
        </div>
      </div>
      <div class="btm-hrl">
        <p class="desc-heading">Additional Information</p>
        <div class="unit-info">
          <p class="unit-desc txt-gray">Storage available at 120/sqm</p>
        </div>
      </div>
      <div class="btm-hrl">
        <p class="desc-heading">Access</p>
        <div class="unit-info">
          <p class="unit-desc txt-gray">Arrangements to be made prior to viewing</p>
        </div>
      </div>
      <div class="btm-hrl">
        <p class="desc-heading">Tenant installation allowance</p>
        <div class="unit-info">
          <p class="unit-desc txt-gray">1 months gross rentalper year signed based on 3 to 5 year lease</p>
        </div>
      </div>
    </div>
    <div></div>
  </div>
  