<div class="rd-container">
    <div class="rd-container-header">
      <div class="rd-container-header-left">
        <div>
          <button
            type="button"
            id="back"
            class="rd-btn-text rd-btn-back rd-btn-lg"
            routerLink="../"
          >
            <span><img src="assets/images/arrow-left.svg" alt="" /></span>
            <span>BACK</span>
          </button>
        </div>
        <div class="rd-heading rd-heading-lg">International Properties</div>
      </div>
      <div class="rd-container-header-right" *ngIf="this.propertyDetails?.FullAccess">
        <button
          type="button"
          class="rd-btn-primary rd-btn-lg"
          (click)="createInternationalProperty()"
        >
          Create New Property
        </button>
      </div>
    </div>
    <app-datatable
    [tableSettings]="tableConfig"
    [filterColumns]="filterColumns"
    [emitClicks]="true"
    (rowBasedAction)="rowActions($event)"
    (toolbarEvent)="onToolbarClick($event)"
    (actionEvent)="onActionClick($event)"
    (isFeaturedEvent)="isFeatureUpdate($event)"
    ></app-datatable>
  </div>
  