:host {
  height: 100%;
  width: 100%;
}

.m-chart,
.m-chart > div {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1 0;
}

.dashboard_bar_graph {
  width: 80%;
  min-height: 200px;
  height: 50%;
}

@media (min-width: 1400px) { 
    .dashboard_bar_graph {
  width: 70%;
  min-height: 200px;
  height: 50%;
}
 }

 @media (min-width: 1200px)  and (max-width:1400px){ 
  .dashboard_bar_graph {
width: 100%;
min-height: 200px;
height: 50%;
}
}