<div class="rd-container" *ngIf="formConfig">
  <div class="rd-container-header">
    <div class="rd-container-header-left">
      <div>
        <button
          type="button"
          id="back"
          class="rd-btn-text rd-btn-back rd-btn-lg"
          (click)="goToManage()"
        >
          <span><img src="assets/images/arrow-left.svg" alt="" /></span>
          <span>BACK</span>
        </button>
      </div>
      <div class="rd-heading rd-heading-lg">
        {{ formConfig ? (formConfig.mode | titlecase) : "" }} Job Listing
        <!-- {{ jobListDetails?.Title }} -->
      </div>
    </div>
    <div class="rd-container-header-right">
      <ng-container [ngSwitch]="formConfig.mode">
        <ng-container *ngSwitchCase="formMode.CREATE"> </ng-container>
      </ng-container>
    </div>
  </div>

  <!-- Edit Form -->
  <div class="row">
    <div class="col-8">
      <form
        [formGroup]="jobListForm"
        (ngSubmit)="onSubmit($event)"
        *ngIf="formConfig.mode == formMode.CREATE"
        class="rd-form"
        autocomplete="on"
      >
        <div class="rd-form-header">Job Listing Details</div>

        <div class="rd-form-body">
          <rd-input
            [label]="'Job Code'"
            [id]="'job-code'"
            [placeholder]="'Please Provide'"
            [required]="true"
            [disable]="true"
            [type]="'text'"
            [controlName]="'JobCode'"
            [form]="jobListForm"
            (onChange)="onChange($event)"
          >
          </rd-input>
          <div class="row">
            <div class="col-md-6">
              <rd-input
                [id]="'job-title'"
                [label]="'Job Title'"
                [placeholder]="'Please Enter'"
                [type]="'text'"
                [required]="true"
                [form]="jobListForm"
                [controlName]="'Title'"
                (onChange)="onChange($event)"
              ></rd-input>
            </div>
            <div class="col-md-6">
              <rd-select
                [id]="'job-level'"
                [label]="'Level'"
                [placeholder]="'Please Select'"
                [bindLabel]="'Title'"
                [bindValue]="'JobLevelId'"
                [items$]="jobLevelList$"
                [required]="true"
                [form]="jobListForm"
                [controlName]="'JobLevelId'"
              ></rd-select>
            </div>
          </div>
          <rd-select
            [id]="'job-type'"
            [label]="'Select Type'"
            [placeholder]="'Please Select'"
            [bindLabel]="'Title'"
            [bindValue]="'JobTypeId'"
            [required]="true"
            [items$]="jobTypeList$"
            (onChange)="onTypeSelect($event)"
            [form]="jobListForm"
            [controlName]="'JobTypeId'"
          ></rd-select>

          <ng-container *ngIf="jobListForm.get('JobTypeId')?.value === 1">
            <rd-select
              [id]="'job-address'"
              [label]="'Select Office'"
              [placeholder]="'Please select'"
              [bindLabel]="'JobAddress'"
              [bindValue]="'JobAddress'"
              [required]="true"
              [items$]="jobRegionAddressList$"
              [form]="jobListForm"
              [controlName]="'JobAddress'"
            ></rd-select>
          </ng-container>

          <ng-container *ngIf="jobListForm.get('JobTypeId')?.value === 2">
            <rd-select
              [id]="'region-address'"
              [label]="'Select Office'"
              [placeholder]="'Please Select'"
              [bindLabel]="'JobAddress'"
              [bindValue]="'JobAddress'"
              [required]="true"
              [items$]="jobAddressList$"
              [form]="jobListForm"
              [controlName]="'JobAddress'"
            ></rd-select>
          </ng-container>

          <ng-container>
            <rd-editor
              [label]="'Primary Purpose of the job'"
              [id]="'primary-purpose'"
              [placeholder]="'Add Description'"
              [required]="true"
              [controlName]="'PrimaryPurpose'"
              [form]="jobListForm"
              (onChange)="onChange($event)"
            ></rd-editor>
          </ng-container>
          <ng-container>
            <rd-editor
              [label]="'Key Performance Areas (KPA’s)'"
              [id]="'key-performance'"
              [placeholder]="'Add Description'"
              [required]="true"
              [controlName]="'KeyPerformance'"
              [form]="jobListForm"
              (onChange)="onChange($event)"
            ></rd-editor>
          </ng-container>
          <ng-container>
            <rd-editor
              [label]="'Job Specific Requirements'"
              [id]="'job-specific'"
              [placeholder]="'Add Description'"
              [required]="true"
              [controlName]="'JobSpecificRequirements'"
              [form]="jobListForm"
              (onChange)="onChange($event)"
            ></rd-editor>
          </ng-container>
          <ng-container>
            <rd-editor
              [label]="'Competency Requirements'"
              [id]="'competency'"
              [required]="true"
              [placeholder]="'Add Description'"
              [controlName]="'CompetencyRequirements'"
              [form]="jobListForm"
              (onChange)="onChange($event)"
            ></rd-editor>
          </ng-container>
          <ng-container>
            <rd-editor
              [label]="'Disclaimer (Optional)'"
              [id]="'Disclaimer'"
              [placeholder]="'Add Description'"
              [controlName]="'Disclaimer'"
              [form]="jobListForm"
              (onChange)="onChange($event)"
            ></rd-editor>
          </ng-container>
          <div class="rd-form-header">
            Where would you like to post Job Listing:
          </div>
          <div class="control-container">
            <div class="checkbox-input rd-checkbox">
              <input
                type="checkbox"
                name=""
                [disabled]="formConfig?.mode === 'view'"
                id="redefine-website"
                [value]="'Redefine Website'"
                (click)="RedefineWebsiteChange('Redefine Website', $event)"
                [checked]="redefineWebsite"
              />
              <label for="redefine-website">Redefine website</label>
              <input
                type="checkbox"
                name="intranet"
                [value]="'Intranet'"
                [disabled]="formConfig?.mode === 'view'"
                id="intranet"
                (click)="IntranetChange('Intranet', $event)"
                [checked]="intranet"
              />
              <label for="intranet">Intranet</label>
              <input
                type="checkbox"
                name=""
                [disabled]="formConfig?.mode === 'view'"
                id="job-portals"
                [value]="'Job Portals'"
                (click)="JobPortalsChange('Job Portals', $event)"
                [checked]="jobPortals"
              />
              <label for="job-portals">Job Portals</label>
            </div>
          </div>
          <div
            *ngIf="jobListForm.get('WhereListing')?.hasError('invalid')"
            class="error-msg"
          >
            <small
              >{{ jobListForm.get('WhereListing')?.errors?.['invalid'] }}
            </small>
          </div>
        </div>
        <div class="rd-form-footer">
          <div>
            <button
              type="button"
              class="rd-btn-secondary rd-btn-lg"
              (click)="goToManage()"
            >
              Cancel
            </button>
          </div>
          <div>
            <button type="submit" class="rd-btn-primary rd-btn-lg">
              Submit
            </button>
            <!-- <ng-container [ngTemplateOutlet]="save_btn"></ng-container> -->
          </div>
        </div>
      </form>
      <form
        *ngIf="formConfig.mode == formMode.EDIT"
        [formGroup]="jobListForm"
        (ngSubmit)="onSubmit($event)"
        class="rd-form"
        autocomplete="on"
      >
        <div class="rd-form-header">Job Listing Details</div>
        <div class="rd-form-body">
          <rd-input
            [label]="'Job Code'"
            [id]="'job-code'"
            [placeholder]="'Please Provide'"
            [required]="true"
            [disable]="true"
            [type]="'text'"
            [controlName]="'JobCode'"
            [form]="jobListForm"
            (onChange)="onChange($event)"
          >
          </rd-input>
          <div class="row">
            <div class="col-md-6">
              <rd-input
                [id]="'job-title'"
                [label]="'Job Title'"
                [placeholder]="'Please Enter'"
                [type]="'text'"
                [required]="true"
                [form]="jobListForm"
                [controlName]="'Title'"
                (onChange)="onChange($event)"
              ></rd-input>
            </div>
            <div class="col-md-6">
              <rd-select
                [id]="'job-level'"
                [label]="'Level'"
                [placeholder]="'Please Select'"
                [bindLabel]="'Title'"
                [bindValue]="'JobLevelId'"
                [items$]="jobLevelList$"
                [required]="true"
                [form]="jobListForm"
                [controlName]="'JobLevelId'"
              ></rd-select>
            </div>
          </div>
          <rd-select
            [id]="'job-type'"
            [label]="'Select Type'"
            [placeholder]="'Please Select'"
            [bindLabel]="'Title'"
            [bindValue]="'JobTypeId'"
            [required]="true"
            (onChange)="onTypeSelect($event)"
            [items$]="jobTypeList$"
            [form]="jobListForm"
            [controlName]="'JobTypeId'"
          ></rd-select>
          <ng-container *ngIf="jobListForm.get('JobTypeId')?.value === 1">
            <rd-select
              [id]="'job-address'"
              [label]="'Select Office'"
              [placeholder]="'Please Select'"
              [bindLabel]="'JobAddress'"
              [bindValue]="'JobAddress'"
              [required]="true"
              [items$]="jobRegionAddressList$"
              [form]="jobListForm"
              [controlName]="'JobAddress'"
            ></rd-select>
          </ng-container>

          <ng-container *ngIf="jobListForm.get('JobTypeId')?.value === 2">
            <rd-select
              [id]="'region-address'"
              [label]="'Select Office'"
              [placeholder]="'Please Select'"
              [bindLabel]="'JobAddress'"
              [bindValue]="'JobAddress'"
              [required]="true"
              [items$]="jobAddressList$"
              [form]="jobListForm"
              [controlName]="'JobAddress'"
            ></rd-select>
          </ng-container>
          <ng-container>
            <rd-editor
              [label]="'Primary Purpose of the job'"
              [id]="'primary-purpose'"
              [placeholder]="'Add Description'"
              [required]="true"
              [controlName]="'PrimaryPurpose'"
              [form]="jobListForm"
              (onChange)="onChange($event)"
            ></rd-editor>
          </ng-container>
          <ng-container>
            <rd-editor
              [label]="'Key Performance Areas (KPA’s)'"
              [id]="'key-performance'"
              [placeholder]="'Add Description'"
              [required]="true"
              [controlName]="'KeyPerformance'"
              [form]="jobListForm"
              (onChange)="onChange($event)"
            ></rd-editor>
          </ng-container>
          <ng-container>
            <rd-editor
              [label]="'Job Specific Requirements'"
              [id]="'job-specific'"
              [placeholder]="'Add Description'"
              [required]="true"
              [controlName]="'JobSpecificRequirements'"
              [form]="jobListForm"
              (onChange)="onChange($event)"
            ></rd-editor>
          </ng-container>
          <ng-container>
            <rd-editor
              [label]="'Competency Requirements'"
              [id]="'competency'"
              [placeholder]="'Add Description'"
              [required]="true"
              [controlName]="'CompetencyRequirements'"
              [form]="jobListForm"
              (onChange)="onChange($event)"
            ></rd-editor>
          </ng-container>
          <ng-container>
            <rd-editor
              [label]="'Disclaimer (Optional)'"
              [id]="'Disclaimer'"
              [placeholder]="'Add Description'"
              [controlName]="'Disclaimer'"
              [form]="jobListForm"
              (onChange)="onChange($event)"
            ></rd-editor>
          </ng-container>
          <div class="rd-form-header">
            Where would you like to post Job Listing:
          </div>
          <div class="control-container">
            <div class="checkbox-input rd-checkbox">
              <input
                type="checkbox"
                name=""
                [disabled]="formConfig?.mode === 'view'"
                id="redefine-website"
                [value]="'Redefine Website'"
                (click)="RedefineWebsiteChange('Redefine Website', $event)"
                [checked]="redefineWebsite"
              />
              <label for="redefine-website">Redefine website</label>
              <input
                type="checkbox"
                name="intranet"
                [value]="'Intranet'"
                [disabled]="formConfig?.mode === 'view'"
                id="intranet"
                (click)="IntranetChange('Intranet', $event)"
                [checked]="intranet"
              />
              <label for="intranet">Intranet</label>
              <input
                type="checkbox"
                name=""
                [disabled]="formConfig?.mode === 'view'"
                id="job-portals"
                [value]="'Job Portals'"
                (click)="JobPortalsChange('Job Portals', $event)"
                [checked]="jobPortals"
              />
              <label for="job-portals">Job Portals</label>
            </div>
          </div>
          <div
            *ngIf="jobListForm.get('WhereListing')?.hasError('invalid')"
            class="error-msg"
          >
            <small
              >{{ jobListForm.get('WhereListing')?.errors?.['invalid'] }}
            </small>
          </div>
        </div>
        <div class="rd-form-footer">
          <div>
            <button
              type="button"
              class="rd-btn-secondary rd-btn-lg"
              (click)="goToManage()"
            >
              Cancel
            </button>
          </div>
          <div>
            <button type="submit" class="rd-btn-primary rd-btn-lg">
              Save & Update
            </button>

            <!-- <ng-container [ngTemplateOutlet]="save_btn"></ng-container> -->
          </div>
        </div>
      </form>
    </div>

    <div class="col-4">
      <div class="rd-form" *ngIf="formConfig.mode == formMode.CREATE">
        <div class="rd-heading rd-heading-md-bold">Set Publishing Date</div>

        <form [formGroup]="jobListForm" (ngSubmit)="onSubmit($event)">
          <div class="row">
            <div>
              <rd-calendar
                [label]="'Start Date'"
                [required]="true"
                [id]="'start-date'"
                [type]="'text'"
                [controlName]="'StartDate'"
                placeholder="Please Select Date"
                [form]="jobListForm"
                (dateChange)="dateChange()"
              ></rd-calendar>
            </div>
            <div>
              <rd-calendar
                [label]="'End Date'"
                [required]="true"
                [id]="'end-date'"
                [type]="'text'"
                [controlName]="'EndDate'"
                placeholder="Please Select Date"
                [form]="jobListForm"
                (dateChange)="dateChange()"
              ></rd-calendar>
            </div>
          </div>
          <small class="error-msg">
            <div class="error-text placement">{{errorMessage}}</div>
          </small>
        </form>

        <div></div>
      </div>
      <div class="rd-form" *ngIf="formConfig.mode == formMode.EDIT">
        <div class="rd-heading rd-heading-md-bold">Set Publishing Date</div>

        <form [formGroup]="jobListForm" (ngSubmit)="onSubmit($event)">
          <div class="row">
            <div>
              <rd-calendar
                [label]="'Start Date'"
                [required]="true"
                [id]="'publish-date'"
                [type]="'text'"
                [controlName]="'StartDate'"
                placeholder="Please Select Date"
                [form]="jobListForm"
                (dateChange)="dateChange()"
              ></rd-calendar>
            </div>
            <div>
              <rd-calendar
                [label]="'End Date'"
                [required]="true"
                [id]="'publish-date'"
                [type]="'text'"
                [controlName]="'EndDate'"
                placeholder="Please Select Date"
                [form]="jobListForm"
                (dateChange)="dateChange()"
              ></rd-calendar>
            </div>
          </div>
          <small class="error-msg">
            <div class="error-text placement">{{errorMessage}}</div>
          </small>
        </form>

        <div></div>
      </div>
    </div>
  </div>

  <!-- VIEW FORM -->
  <form class="rd-form" *ngIf="formConfig?.mode == 'view'">
    <div>
      <div class="mb-4">
        <div class="rd-heading rd-heading-md-bold mb-3">Job Listing Details</div>
        <div class="d-flex align-items-center rd-gap-30">
          <div class="d-flex rd-gap-10">
            <div class="rd-heading-xs">Job Title:</div>
            <div *ngIf="jobListDetails; else loading2">
              {{ jobListDetails?.Title }}
            </div>
          </div>
          <div class="d-flex rd-gap-10">
            <div class="rd-heading-xs">Level:</div>
            <div *ngIf="jobListDetails; else loading2">
              {{ jobListDetails?.JobLevelName }}
            </div>
          </div>
          <div class="d-flex rd-gap-10">
            <div class="rd-heading-xs">Address:</div>
            <div *ngIf="jobListDetails; else loading2">
              {{ jobListDetails?.JobAddress }}
            </div>
          </div>
          <div class="d-flex rd-gap-10">
            <div class="rd-heading-xs">Closing:</div>
            <div *ngIf="jobListDetails; else loading2">
              {{ jobListDetails?.EndDate | date : "EEEE, d MMMM y" }}
            </div>
          </div>
        </div>
      </div>
      <div class="pt-3 hr-top-line hr-2 mb-4">
        <div>
          <div class="rd-heading rd-heading-md-bold mb-2">Description</div>
        </div>
        <div>
          <div class="rd-heading rd-heading-sm mb-2">
            Primary Purpose of the Job
          </div>
          <p
            *ngIf="jobListDetails; else loading"
            class="rd-text-grey text-break text-wrap rd-text-justify"
            [innerHTML]="
              jobListForm.get('PrimaryPurpose')?.value == '' ||
              jobListForm.get('PrimaryPurpose')?.value == null ||
              jobListForm.get('PrimaryPurpose')?.value == undefined
                ? 'Not available'
                : (jobListForm.get('PrimaryPurpose')?.value | safeHtml : 'html')
            "
          ></p>
        </div>
        <div>
          <!-- <div class="attribute-label">Content</div> -->
          <div class="rd-heading rd-heading-sm mb-2">
            Key Performance Areas (KPA’s)
          </div>
          <p
            *ngIf="jobListDetails; else loading"
            class="rd-text-grey text-break text-wrap rd-text-justify"
            [innerHTML]="
              jobListForm.get('KeyPerformance')?.value == '' ||
              jobListForm.get('KeyPerformance')?.value == null ||
              jobListForm.get('KeyPerformance')?.value == undefined
                ? 'Not available'
                : (jobListForm.get('KeyPerformance')?.value | safeHtml : 'html')
            "
          ></p>
        </div>
        <div>
          <div class="rd-heading rd-heading-sm mb-2">
            Job Specific Requirements
          </div>
          <p
            *ngIf="jobListDetails; else loading"
            class="rd-text-grey text-break text-wrap rd-text-justify"
            [innerHTML]="
              jobListForm.get('JobSpecificRequirements')?.value == '' ||
              jobListForm.get('JobSpecificRequirements')?.value == null ||
              jobListForm.get('JobSpecificRequirements')?.value == undefined
                ? 'Not available'
                : (jobListForm.get('JobSpecificRequirements')?.value
                  | safeHtml : 'html')
            "
          ></p>
        </div>
        <div>
          <div class="rd-heading rd-heading-sm mb-2">
            Competency Requirements
          </div>
          <p
            *ngIf="jobListDetails; else loading"
            class="rd-text-grey text-break text-wrap rd-text-justify"
            [innerHTML]="
              jobListForm.get('CompetencyRequirements')?.value == '' ||
              jobListForm.get('CompetencyRequirements')?.value == null ||
              jobListForm.get('CompetencyRequirements')?.value == undefined
                ? 'Not available'
                : (jobListForm.get('CompetencyRequirements')?.value
                  | safeHtml : 'html')
            "
          ></p>
        </div>
        <div>
          <div class="rd-heading rd-heading-sm mb-2">Disclaimer</div>
          <p
            *ngIf="jobListDetails; else loading"
            class="rd-text-grey text-break text-wrap rd-text-justify"
            [innerHTML]="
              jobListForm.get('Disclaimer')?.value == '' ||
              jobListForm.get('Disclaimer')?.value == null ||
              jobListForm.get('Disclaimer')?.value == undefined
                ? 'Not available'
                : (jobListForm.get('Disclaimer')?.value | safeHtml : 'html')
            "
          ></p>
        </div>
      </div>
    </div>
    <div class="pt-2 mb-5 hr-top-line hr-2">
      <app-datatable
        [tableSettings]="tableConfig"
        [emitClicks]="true"
        (rowBasedAction)="rowActions($event)"
        (toolbarEvent)="onToolbarClick($event)"
        (actionEvent)="onActionClick($event)"
      ></app-datatable>
    </div>
  </form>
</div>

<!-- <ng-template #save_btn>
  <div class="save-btn-dropdown-wrapper">
    <button
      [matMenuTriggerFor]="saveMenu"
      type="button"
      class="rd-btn-primary rd-btn-lg rd-dropdown-btn"
    >
      <span>Save</span>
      <span class="drop-icon"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-down"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </span>
    </button>
    <mat-menu #saveMenu="matMenu">
      <div class="save-dropdown-menu">
        <button (click)="onSave(jobStatus.DRAFT)" class="rd-btn-text rd-btn-lg">
          <span><img src="assets/images/edit-pencile.svg" alt="icon" /></span>
          <span>Save as draft</span>
        </button>
        <button
          (click)="onSave(jobStatus.PUBLISH)"
          class="rd-btn-text rd-btn-lg"
        >
          <span><img src="assets/images/upload.svg" alt="icon" /></span>
          <span>Save & Publish</span>
        </button>
      </div>
    </mat-menu>
  </div>
</ng-template> -->

<ng-template #loading>
  <p class="placeholder-glow py-1">
    <span class="placeholder col-12"></span>
    <span class="placeholder col-12"></span>
    <span class="placeholder col-4"></span>
  </p>
</ng-template>
<ng-template #loading2>
  <div class="placeholder-glow" [style.width.px]="150">
    <span class="placeholder col-8 w-100"></span>
  </div>
</ng-template>
