<div class="background" *ngIf="teamMembers.length>0">
    <div class="container my-5" *ngIf="teamMembers?.length; else loader">
      <div class="row">
        <div class="col-12 col-lg-2 mb-4">
          <div class="position-relative">
            <div class="rd-heading rd-heading-lg-normal">Quick links</div>
            <span class="rd-indicator rd-indicator-lg">
              <span class="rd-indicator-content rd-indicator-primary"></span>
            </span>
          </div>
        </div>
        <div class="col-md-10">
          <div class="row gap-0">
            <div
              class="col-6 col-sm-4 col-md-3 col-lg-2 p-0"
              *ngFor="let menu of teamMembers"
            >
              <div class="quick-link-wrapper" (click)="goToPage(menu)">
                <div class="quick-link">{{menu.EmployeeName}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #loader>
    <div class="container my-5">
      <div class="row">
        <div class="col-md-2">
          <div class="placeholder-glow ps-3 py-4 rd-bg__grey-very-light">
            <span class="col-8 placeholder placeholder-sm mb-1"></span>
            <span class="col-5 placeholder placeholder-sm"></span>
          </div>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div
              class="col-6 col-sm-4 col-md-3 col-lg-2 p-0"
              *ngFor="let i of [1, 2, 3, 4]"
            >
              <div class="quick-link-wrapper">
                <div class="placeholder-glow ps-3 py-4 rd-bg__grey-very-light">
                  <span class="col-8 placeholder placeholder-sm mb-1"></span>
                  <span class="col-5 placeholder placeholder-sm"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  