.rd-form {
  width: 800px;
}

.attribute-container {
  margin-bottom: 50px;
}

.attribute-container .attribute-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 0.5px solid #dfdfdf;
}
.attribute-container .attribute-item:last-child {
  border: none;
}
.attribute-container .attribute-item .attribute-label {
  width: 40%;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.attribute-container .attribute-item .attribute-desc {
  width: 60%;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #58595b;
  word-wrap: break-word;
}
.attribute-desc .file-name a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: #000000;
}
.attribute-desc .file-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #999999;
}

a {
  color: red;
}

.user-card {
  box-shadow: 0px 0px 2px rgba(153, 153, 153, 0.4);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
}

.applyDrip-container {
  display: flex;
}

.levy {
  // margin-top: -55px;
  gap: 10px;
  justify-content:end;
}
.levy div {
  display: flex;
  align-items: center;
}
.applyDrip-container label {
  font-size: 16px;
  color: black;
  // margin-bottom: 31px;
}

.drip {
  // margin-left: auto;
  padding: 3px;
}

.rd-form .override-fixed-width {
  width: unset !important;
}

.col-5 {
  padding: 0px;
}

.SaveBTNContainer {
  justify-content: flex-start !important;
}
.FormSaveBTN {
  margin-right: 10px !important;
}

mat-chip {
  margin: 4px;
  margin-top: 5px;
}

.attribute-description {
  width: 60%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 16px; */
  color: #58595b;
  word-wrap: break-word;
}

::ng-deep {
  .rd-file_propertyeq-create .control-container form {
    padding-bottom: 0;
  }
}

::ng-deep {
  .attribute-description img {
    width: 100% !important;
    height: auto ;
  }
}

.featured-image {
  margin-top: 18px;
}

::ng-deep .ng-clear-wrapper {
  margin-top: 8px;
}

::ng-deep .angular-editor-textarea img {
  width: 100%;
  margin-bottom: 1rem;
}
