.rd-page-views-heading {
  font-family: "DIN Medium";
  font-size: 15px;
  font-weight: 600;
}

.table-data {
  font-family: "DIN";
  font-size: 15px;
  font-weight: 400;
}

.rd-total-count {
  font-family: "DIN";
  font-size: 28px;
  font-weight: 400;
}

.views-page-size {
  font-family: "DIN Medium";
  font-size: 15px;
  font-weight: 500;
  line-height: 0px;
}

.job-view-count {
    font-family: DIN;
    font-size: 28px;
    font-weight: 400;
}

.rd-text-session {
  font-family: "DIN Medium";
  font-size: 15px;
  font-weight: 500;
  line-height: 0px;
}

.market-data-loader{
  text-align: center;
}

.market-data-loader img {
  width: 50px;
}

button{
  float: right;
}