.bays {
  display: flex;
  gap: 10px;
}

.floating-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  width: 20%;
  margin-left: 650px;
}

.spec-dropdown {
  margin-top: 20px;
  align-content: center;
}

.spec-space {
  width: 45%;
}

.font {
  font-size: 25px;
  font-weight: 600;
  width: 45%;
  display: inline;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rental-alert {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background: #f2f4f3;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.location-alert-icon {
  width: auto;
  text-align: center;
}

.location-alert-image {
  width: 50px;
  padding: 10px;
  border: 1px solid #fdc54d;
  border-radius: 50px;
}

.location-alert-desc {
  width: auto;
  font-size: 12px;
}

.spec-label {
  margin-top: 41px;
  margin-right: 325px;
}

blockquote {
  display: inline-block;
  color: #ce171e;
}

.placement {
  justify-content: flex-start;
}

.control-container input:disabled {
  color: red !important;
}

.form-container {
  width: 95%;
}

.parking-details-section {
  display: none;
}

a.linki {
  color: var(--red-color) !important;
  display: flex;
  align-items: center;
  gap: 8px;
}
a.linki:hover {
  text-decoration: underline !important;
}