.rd-btn-dark {
  width: 100%;
}

.sens-line {
  height: 1px;
  width: 100%;
  background-color: #cccccc;
}

.sens-icons {
  padding-bottom: 28px;
  display: flex;
  gap: 20px;
  //margin-left: 255px;
}

.recent-announcements-heading {
  font-size: 22px;
}

.text-align-announcement {
  text-align: justify;
}

.senses:hover {
  cursor: pointer;
}

.quicklinks-gap {
  margin-top: 10rem !important;
}
