<div class="" *ngIf="form && recaptchaConfig.enabled">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="form" class="form">
        <div class="form">
          <ngx-recaptcha2
            #captchaElem
            [siteKey]="recaptchaConfig.siteKey"
            [id]="id"
            [formControlName]="controlName"
            (success)="handleSuccess($event)"
            [ngClass]="form.get(controlName)?.errors?.['invalid'] ? 'invalid':''" 
          ></ngx-recaptcha2>
        </div>
        <div
          *ngIf="form.get(controlName)?.hasError('invalid')"
          class="error-msg"
        >
          <small>{{ form.get(controlName)?.errors?.['invalid'] }}</small>
        </div>
      </form>
    </div>
  </div>
</div>
