<app-banner-breadcrumb
  [bannerDetails]="bannerDetails"
  [bannerText]="bannerText"
  [breadcrumbLinks]="breadcrumbLinks"
></app-banner-breadcrumb>

<div class="container mt-5">
  <div class="row">
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-12">
      <div class="row filter-top">
        <div class="form-group col-md-3 filter-sens">
          <rd-calendar
            [class]="'sens-space'"
            [label]="''"
            [id]="'dob'"
            [type]="'text'"
            [placeholder]="'Select start date'"
            [controlName]="'StartDate'"
            [form]="filterForm"
            (dateChange)="onChange($event)"
            aria-label="Start date"
          ></rd-calendar>
        </div>
        <div class="form-group col-md-3 filter-sens">
          <rd-calendar
          [class]="'sens-space'"
            [label]="''"
            [id]="'dob'"
            [type]="'text'"
            [placeholder]="'Select end date'"
            [controlName]="'EndDate'"
            [form]="filterForm"
            (dateChange)="onChange($event)"
            aria-label="End date"
          ></rd-calendar>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="text-search"
              [(ngModel)]="searchText"
              placeholder="Search"
              (keyup)="search($event)"
              aria-label="search text"
            />

            <div class="input-group-append search-button">
              <button
                class="btn btn-secondary"
                type="button"
                (click)="searchValue($event)"
                aria-label="search button"
              >
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <button
          aria-label="Search"
            type="button"
            class="rd-btn-text rd-btn-md h-100 clear-button"
            *ngIf="
              this.filterForm.get('Search')?.value != '' ||
              (this.filterForm.get('StartDate')?.value != null &&
                this.filterForm.get('EndDate')?.value != null)
            "
            (click)="clear()"
          >
            <span>Clear</span>
            <span
              ><img
                src="assets/images/close.svg"
                [style.width]="'16px'"
                alt="clear"
            /></span>
          </button>
        </div>

        <div class="col-md-12 mt-3" *ngIf="sensDetails && sensDetails.length">
          <div *ngIf="errorMessage == ''">
            <mat-paginator
              #paginator
              customPaginator
              showFirstLastButtons
              class="custom-paginator"
              previousPageLabel="'pre'"
              [length]="totalRowsCount"
              [pageSize]="filter.PerPage"
              [pageSizeOptions]="[5, 10, 25, 100]"
              [pageIndex]="filter && filter.PageNo ? filter.PageNo - 1 : 0"
              (page)="paginate($event)"
              [hidePageSize]="true"
              aria-label="paginator"
            >
            </mat-paginator>
          </div>
        </div>
        
        
        <small class="error-message">
          <div class="error-text placement">{{ errorMessage }}</div>
        </small>
      </div>
    </div>
  </div>
  <div class="col-md-12 sens-line"></div>
</div>
<div class="container">
  <div class="row">
    <div
      class="col-md-12 senses mt-3"
      *ngFor="let sens of sensDetails; let i = index"
      (click)="sensDetailsPage(sens)"
      (mouseover)="getHovercolor(i)"
      (mouseleave)="getLeavecolor(i)"
    >
      <div id="{{ 'sens-data' + i }}">
        <div class="position-relative">
          <div class="rd-heading rd-heading-md">
            {{ sens.Headline }}
          </div>
          <span class="rd-indicator rd-indicator-xs">
            <span class="rd-indicator-content rd-indicator-primary"></span>
          </span>
        </div>
        <div class="rd-text-grey-mid mt-4">
          {{ sens.Date | date : "dd MMMM yyyy" }}
        </div>
      </div>
      <div class="col-md-12 sens-line"></div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="sensDetails && sensDetails.length">
    <div *ngIf="errorMessage == ''">
      <mat-paginator
        #paginator
        customPaginator
        showFirstLastButtons
        class="custom-paginator"
        previousPageLabel="'pre'"
        [length]="totalRowsCount"
        [pageSize]="filter.PerPage"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageIndex]="filter && filter.PageNo ? filter.PageNo - 1 : 0"
        (page)="paginate($event)"
        [hidePageSize]="true"
        aria-label="custom-paginator"
      >
      </mat-paginator>
    </div>
  </div>
  <div class="col-12 py-2 text-center mt-5" *ngIf="sensDetails?.length == 0">
    <p class="rd-heading-md-bold rd-text-deep-red">No result found!</p>
  </div>
  <div class="quicklinks-space"></div>
</div>

<app-quick-links></app-quick-links>
