<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Links  -->
  <section class="footer-section">
    <div class="container text-center text-md-start pt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mb-4 links">
          <!-- Links -->
          <div class="fw-bold mt-3 footer-headings">Quick links</div>
          <p class="mt-3 linki">
            <a routerLink="/contact-us" class="text-reset">Customer care </a>
          </p>
          <p class="linki">
            <a
              target="_blank"
              href="https://www.whistleblowing.co.za/"
              class="text-reset"
              >Whistle-blowing
            </a>
          </p>
          <p class="linki">
            <a routerLink="/reach-incentive-programme" class="text-reset"
              >Reach Incentive Programme
            </a>
          </p>
          <p class="linki">
            <a routerLink="/data-subject-request" class="text-reset"
              >Data Subject Request (DSAR)
            </a>
          </p>
          <p class="mt-3 linki">
            <a routerLink="/broker-blitz" class="text-reset" role="button"
              >Broker Blitz</a
            >
          </p>
          <p class="mt-3 linki">
            <a
              href="/view-file/Space-2-Spec-Booklet.pdf"
              class="text-reset"
              role="button"
              target="_blank"
              >Space 2 Spec Booklet</a
            >
          </p>
          <!-- <p class="linki">
            <a (click)="adLogin()" class="text-reset" role="button"
              >Staff login</a
            >
          </p> -->
          <!-- <p class="link">
            <a routerLink="#!" class="text-reset">Head offices Johannesburg </a>
          </p>
          <p class="link">
            <a routerLink="#!" class="text-reset">Regional Offices </a>
          </p>
          <p class="link">
            <a routerLink="#!" class="text-reset">Company information </a>
          </p> -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 links">
          <!-- Links -->
          <div class="fw-bold mt-3 footer-headings">Portals</div>
          <!-- <p class="mb-3 linki">
            <a routerLink="/login" class="text-reset" target="”_blank”"
              >Broker</a
            >
          </p> -->

          <p class="mt-3 linki">
            <a
              routerLink="/stakeholders/tenants"
              class="text-reset"
              role="button"
              >Tenant</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 links">
          <!-- Links -->
          <div class="fw-bold mt-3 footer-headings">Media</div>
          <p class="mt-3 linki">
            <a routerLink="/propertyeq/press-office" class="text-reset">Press office </a>
          </p>
          <p class="linki">
            <a routerLink="/propertyeq/media-enquiries" class="text-reset"
              >Media enquiries
            </a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4 links">
          <!-- Links -->
          <div class="fw-bold mt-3 footer-headings">Legal</div>
          <p class="mt-3 linki">
            <a routerLink="/privacy-policy" class="text-reset"
              >Terms of use and privacy statement
            </a>
          </p>
          <p class="linki">
            <a routerLink="/paia" class="text-reset">PAIA</a>
          </p>
          <p class="linki">
            <span (click)="openFraundAlerts()" class="text-reset">Fraud Alerts</span> 
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <!--<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4 links">
          <div class="social footer-headings fw-bold">Follow us</div>
        </div>-->
        <!-- Grid column -->
        <!-- Section: Social media -->
        <section
          class="col-md-12 row d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
          <!-- Left -->
          <div
            class="col-md-8 me-5 d-none d-lg-block ml-0 social-links-color footer-headings"
          >
            <p class="redefine-text">
              © Redefine Properties. All rights reserved.
            </p>
            <p class="redefine-text">
              Powered by
              <a class="linki" href="https://exazeit.com/" target="_blank">
                Exaze
                <img
                  alt="developed-by-image"
                  class="developedByImage"
                  src="assets/images/exaze-logo.webp"
                  alt="Developed By Image" 
                />
              </a>
            </p>
            <p class="redefine-text">
              Share price feed powered by
              <a
                class="linki"
                href="https://www.profile.co.za/"
                target="_blank"
              >
                ProfileData.
              </a>
            </p>
          </div>
          <!-- Left -->

          <!-- Right -->

          <div class="col-md-3">
            <div class="fw-bold mb-4 footer-headings text-white">Follow us</div>
            <!-- <a routerLink="" class="me-4 link-secondary">
              <i class="fab fa-facebook-f social-links-color"></i>
            </a>
            <a routerLink="" class="me-4 link-secondary">
              <i class="fab fa-instagram social-links-color"></i>
            </a> -->
            <a
              href="https://www.linkedin.com/company/redefine-properties-limited/"
              target="_blank"
              class="me-4 link-secondary"
              aria-label="social-link" 
            >
              <i class="fab fa-linkedin social-links-color"></i>
            </a>
            <!-- <a routerLink="" class="me-4 link-secondary">
              <i class="fab fa-twitter social-links-color"></i>
            </a> -->
            <a
              target="_blank"
              href="https://www.youtube.com/channel/UCk2uAUA0S8Wur_uKEdCefBA"
              class="me-4 link-secondary"
              aria-label="social-link" 
            >
              <i class="fab fa-youtube social-links-color"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
      </div>

      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <!-- <div class="text-center p-4 copyright text-white d-lg-none">
    <p class="d-block">Redefine Properties. All rights reserved.</p>
    <p>
      Developed by
      <a class="redefine-text" href="https://exazeit.com/" target="_blank"
        >Exaze.
      </a>
    </p>
  </div> -->
  <!-- Copyright -->
</footer>
<!-- Footer -->
